.perfil-main-container {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--primary);
}

.perfil-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.perfil-form-group {
  margin-bottom: 20px;
}

.perfil-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.perfil-form-group input[type="text"],
.perfil-form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.perfil-btn {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  align-text: center;
  width: 100%;
}

.perfil-anchor {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
    align-text: center;
  }
